/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REGOLE GENERALI */
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li,
a{
  display: inline-block;
  text-decoration: none;
}

img{
  max-width: 100%;
}

.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.container{
  width: 85%;
  min-width: 400px;
  max-width: 1200px;
  margin: auto;
}

.d-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.t-center{
  text-align: center;
}

.m-15{
  margin: 10px
}


header a:hover,
footer a:hover{
  color: #E7E6E5;
  text-transform: uppercase;
  font-size: larger;
}
/* /REGOLE GENERALI */


/* HEADER */
header{
  height: 80px;
  background-color: #FA6903;
}

header .container{
  height: 100%;
}

header .categories,
header .account{
  width: 25%;
}

header .logo{
  width: 50%;
}

header .logo img{
  width: 200px;
}

header .account{
  text-align: right;
}

header a{
  color: white;
  margin: 0 5px;
}
/* /HEADER */


/* MAIN */
main{
  padding-top: 120px;
  padding-bottom: 80px;
}

main a{
  color: black;
}

main span{
  display: inline-block;
  font-size: smaller;
}

  /* CARD STYLE */
  main .card{
    max-width: 350px;
  }

  main .card .image{
    position: relative;
  }

  main .card .option{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  main .card:hover .option{
    display: block;
  }

  main .card .like{
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 2;
    background-color: white;
    padding: 10px;
  }

  main .card .like:hover{
    color: red;
    font-size: larger;
  }

  main .card .label{
    position: absolute;
    left: 5px;
    bottom: 10px;
    z-index: 2;
  }

  main .card .label span{
    padding: 5px 10px;
    color: white;
    font-weight: 600;
  }

  main .card .discount{
    background-color: red;
  }

  main .card .sustainable{
    background-color: green;
  }

  main .card .item{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
  }

  main .card .disc-price{
    color: red;main .card .disc-price
    font-weight: 600;
  }

  main .card .full-price{
    text-decoration: line-through;
  }

  main .card:nth-child(5) .sustainable{
    display: none;
  }
  /* /CARD STYLE */

/* /MAIN */


/* FOOTER */
footer{
  background-color: #1A1A1A;
}

footer .container{ 
  height: 100px;
  color: white;
}

footer a{
  color: white;
  margin: 10px 10px 0 0;
}

footer li:last-child a{
  margin: 10px 0 0 0;
}

footer .info{
  width: 60%;
}

footer .info a{
  font-size: 14px;
}

footer .social{
  width: 40%;
  text-align: right;
}

footer .social ul{
  justify-content: right;
  flex-wrap: wrap;
}
/* /FOOTER */